@import '../../App.scss';

.__cont{
    form{
        input{
            border: none;
            display: block;
        }
        label{
            display: block;
        }
        span{
            background-color: #fff;
        }
    }
}
