.__cent{
    display: grid;
    justify-content: center;
    align-items: center;

}
.__cent__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.__aro{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.__cont{
    width: 85%;
    margin: 0 auto;
}

