@import '../../App.scss';

.__cont{

    .__cont__nums{
        // img{margin-right: 200px!important;}
        display: flex;
        justify-content: space-around;
    }
    .progress{
        border-radius: 10px;
        &-bar{
            background-color: orangered !important;
        }
    }
    .__aro{
        width: 50%;
        h3{
            display: inline-block;
            span{color: orangered;}
        }
    }
    // Estilos de la seccion del formulario
    form{
        input{
            border: none;
            display: block;
            max-width: 50%;
        }
        label{
            width: 100%;
        }
        span{
            background-color: #fff;
        }
        .__error{color: red;}
        button{
                margin-top: 30px;
                border-radius: 20px;
                padding: 10px 60px;
                background-color: orangered;
                color: #339bff;
                font-weight: 500;
                border: none;
                margin: 0 auto;
                color: #fff;
                margin-left: 600px;
                margin-top: 30px;
            }
            .disabled{
                background-color: #FF9855;
                color: #fff;
            }
    }
}
